## Análise de dados - projeto educacional

**Análise de dados para traçar estratégia de cresimento e retenção da base de clientes**

In [19]:
#Versão da linguagem python 
from platform import python_version
print(f'Esta é a versão do python usada no Jupyter Notebook: {python_version()}')

Esta é a versão do python usada no Jupyter Notebook: 3.11.0

In [20]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
# !pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
# !pip install -q -U watermark

In [21]:
#Imports 
import warnings
import pandas as pd 
import numpy as np
from sklearn import linear_model
from src.upload import db_request

warnings.filterwarnings("ignore")

In [22]:
#Versões dos pacotes usado neste jupyter notebook 
%reload_ext watermark 
%watermark -a "Hedris Analista de dados" --iversion

Author: Hedris Analista de dados

pandas : 1.5.3
sklearn: 1.2.0
numpy  : 1.24.1
sys    : 3.11.0 (main, Oct 24 2022, 18:26:48) [MSC v.1933 64 bit (AMD64)]

### Carregamento de dados

In [23]:
#Carregamento de dados
dados = pd.read_csv(db_request())

In [24]:
#Shape 
print(f'\nEste é a quantidade de linhas -> {dados.shape[0]} \
      Este é a quantidade de colunas -> {dados.shape[1]}')

Este é a quantidade de linhas -> 13       Este é a quantidade de colunas -> 4

In [25]:
#Visualizar os dados 
dados.head(10)

                     Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0           Jaguar F-Type R         69000        18000              6
1           Jaguar F-Type R         35000        34000              3
2           Jaguar F-Type R         57000        26100              5
3           Jaguar F-Type R         22500        40000              2
4           Jaguar F-Type R         46000        31500              4
5            Mustang Mach 1         59000        29400              5
6            Mustang Mach 1         52000        32000              5
7            Mustang Mach 1         72000        19300              6
8            Mustang Mach 1         91000        12000              8
9  Mercedez Benz AMG GLE 53         67000        22000              6

In [26]:
#Tipos de dados 
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Modelo         13 non-null     object
 1   Kilometragem   13 non-null     int64
 2   Preco_Venda    13 non-null     int64
 3   Idade_Veiculo  13 non-null     int64
dtypes: int64(3), object(1)
memory usage: 544.0+ bytes

**Anotação**

*Para a variável categórica (object) no dataset, qual ténica de encondig devemos aplicar?*


**Minha análise:**

*One-hot-encoding é uma boa para analisar o dataset, repare-se que há três modelos de carros substituindo por número ficara mais fácil para aplicar a tecnica de machine learning desde então **sickit-learn** recebe somente números de imputação para aplicar modelos de apredizagem de máquina.*

**Aplicando One-Hot-Enconding**

In [27]:
#Dataset original 
dados

                      Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0            Jaguar F-Type R         69000        18000              6
1            Jaguar F-Type R         35000        34000              3
2            Jaguar F-Type R         57000        26100              5
3            Jaguar F-Type R         22500        40000              2
4            Jaguar F-Type R         46000        31500              4
5             Mustang Mach 1         59000        29400              5
6             Mustang Mach 1         52000        32000              5
7             Mustang Mach 1         72000        19300              6
8             Mustang Mach 1         91000        12000              8
9   Mercedez Benz AMG GLE 53         67000        22000              6
10  Mercedez Benz AMG GLE 53         83000        20000              7
11  Mercedez Benz AMG GLE 53         79000        21000              7
12  Mercedez Benz AMG GLE 53         59000        33000              5

In [28]:
#Obtém as variáveis dummy 
df_dummies = pd.get_dummies( dados['Modelo']  )

In [29]:
#Variável dummy 
df_dummies

    Jaguar F-Type R  Mercedez Benz AMG GLE 53  Mustang Mach 1
0                 1                         0               0
1                 1                         0               0
2                 1                         0               0
3                 1                         0               0
4                 1                         0               0
5                 0                         0               1
6                 0                         0               1
7                 0                         0               1
8                 0                         0               1
9                 0                         1               0
10                0                         1               0
11                0                         1               0
12                0                         1               0

In [30]:
#Fazendo a concatenação dos dataframes
df = pd.concat( [dados, df_dummies], axis='columns' )

In [32]:
#Amostragem com a técnica feita 
df

,Modelo,Kilometragem,Preco_Venda,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,Jaguar F-Type R,69000,18000,6,1,0,0
1,Jaguar F-Type R,35000,34000,3,1,0,0
2,Jaguar F-Type R,57000,26100,5,1,0,0
3,Jaguar F-Type R,22500,40000,2,1,0,0
4,Jaguar F-Type R,46000,31500,4,1,0,0
5,Mustang Mach 1,59000,29400,5,0,0,1
6,Mustang Mach 1,52000,32000,5,0,0,1
7,Mustang Mach 1,72000,19300,6,0,0,1
8,Mustang Mach 1,91000,12000,8,0,0,1
9,Mercedez Benz AMG GLE 53,67000,22000,6,0,1,0
10,Mercedez Benz AMG GLE 53,83000,20000,7,0,1,0
11,Mercedez Benz AMG GLE 53,79000,21000,7,0,1,0
12,Mercedez Benz AMG GLE 53,59000,33000,5,0,1,0

In [33]:
#Vamos drop a coluna categórica (object)
new_df = df.drop(['Modelo'], axis=1)

In [34]:
#Novo dataframe
new_df

,Kilometragem,Preco_Venda,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,69000,18000,6,1,0,0
1,35000,34000,3,1,0,0
2,57000,26100,5,1,0,0
3,22500,40000,2,1,0,0
4,46000,31500,4,1,0,0
5,59000,29400,5,0,0,1
6,52000,32000,5,0,0,1
7,72000,19300,6,0,0,1
8,91000,12000,8,0,0,1
9,67000,22000,6,0,1,0
10,83000,20000,7,0,1,0
11,79000,21000,7,0,1,0
12,59000,33000,5,0,1,0

In [38]:
#Define os valores de x 
X = new_df.drop("Preco_Venda", axis=1)
X

,Kilometragem,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,69000,6,1,0,0
1,35000,3,1,0,0
2,57000,5,1,0,0
3,22500,2,1,0,0
4,46000,4,1,0,0
5,59000,5,0,0,1
6,52000,5,0,0,1
7,72000,6,0,0,1
8,91000,8,0,0,1
9,67000,6,0,1,0
10,83000,7,0,1,0
11,79000,7,0,1,0
12,59000,5,0,1,0

In [37]:
#Define o valor de y 
y = new_df['Preco_Venda']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Preco_Venda, dtype: int64

## Criando o modelo de machine learning

In [40]:
#Criando modelo 
frist_modelo = linear_model.LinearRegression()

In [42]:
#Treinar o modelo 
frist_modelo.fit(X, y)

LinearRegression()

In [43]:
#Previsões do modelo 
frist_modelo.predict(X)

array([18705.2723644 , 35286.78445645, 24479.19112468, 41245.76426391,
       29882.98779056, 28023.6135243 , 30614.46818502, 21879.57266964,
       12182.34562104, 26183.72387884, 18929.31674102, 20409.80511857,
       30477.15426156])

In [45]:
#Uma previsão de alugm veículo 
"""
    primeiro número é kilometragem,
    segundo número é idade, 
    e os três últimos números são os modelos Jaguar F-Type R, Mercedez Benz AMG GLE 53, Mustang Mach 1 
"""
frist_modelo.predict([[7000, 4, 0, 0, 1]])

array([48602.41606011])

In [46]:
#Outra previsão
frist_modelo.predict([[86000,6, 1, 1,0]])

array([15477.11278078])

In [48]:
#Acurácia do modelo
print(f'Esta é %{frist_modelo.score(X, y)}, é uma grande possibilidade de acerto.')

Esta é %0.9417050937281082, é uma grande possibilidade de acerto.

## Aplicando Label Encondig

**Anotação**


*Aplicando outra estratégia para verifica qual é a melhor situação de encoding para análise de dados, lembre-se de não existe uma métrica exata e sim teste para chegar em um melhor resultado e fazer segemento.*

In [49]:
#Import 
from sklearn.preprocessing import LabelEncoder

In [50]:
#Fazendo uma cópia do dataframe original 
df_carr = dados

In [51]:
#Amostragem da cópia
df_carr

                      Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0            Jaguar F-Type R         69000        18000              6
1            Jaguar F-Type R         35000        34000              3
2            Jaguar F-Type R         57000        26100              5
3            Jaguar F-Type R         22500        40000              2
4            Jaguar F-Type R         46000        31500              4
5             Mustang Mach 1         59000        29400              5
6             Mustang Mach 1         52000        32000              5
7             Mustang Mach 1         72000        19300              6
8             Mustang Mach 1         91000        12000              8
9   Mercedez Benz AMG GLE 53         67000        22000              6
10  Mercedez Benz AMG GLE 53         83000        20000              7
11  Mercedez Benz AMG GLE 53         79000        21000              7
12  Mercedez Benz AMG GLE 53         59000        33000              5

In [52]:
#Criando o objeto Enconder 
l3 =  LabelEncoder()

In [53]:
#Aplicando o Enconder 
df_carr['Modelo'] = l3.fit_transform(df_carr['Modelo'])

In [54]:
df_carr

    Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0        0         69000        18000              6
1        0         35000        34000              3
2        0         57000        26100              5
3        0         22500        40000              2
4        0         46000        31500              4
5        2         59000        29400              5
6        2         52000        32000              5
7        2         72000        19300              6
8        2         91000        12000              8
9        1         67000        22000              6
10       1         83000        20000              7
11       1         79000        21000              7
12       1         59000        33000              5

In [58]:
#Definindo o valor de x com a variável Modelo, Kilometragem, Idade_veiculo
x_two = df_carr[['Modelo', 'Kilometragem', 'Idade_Veiculo']].values
x_two

array([[    0, 69000,     6],
       [    0, 35000,     3],
       [    0, 57000,     5],
       [    0, 22500,     2],
       [    0, 46000,     4],
       [    2, 59000,     5],
       [    2, 52000,     5],
       [    2, 72000,     6],
       [    2, 91000,     8],
       [    1, 67000,     6],
       [    1, 83000,     7],
       [    1, 79000,     7],
       [    1, 59000,     5]], dtype=int64)

In [59]:
#Definindo o y com a variável venda
y_two = df_carr['Preco_Venda']
y_two

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Preco_Venda, dtype: int64

## Aplicando outra versão ao modelo

In [57]:
#Criando a versão 2
second_modelo = linear_model.LinearRegression()

In [60]:
#Treinando o modelo 
second_modelo.fit(x_two, y_two)

LinearRegression()

In [62]:
#Fazer previsões 
second_modelo.predict(x_two)

array([21097.26799326, 35669.46519981, 26161.25131906, 40888.38671831,
       30915.35825943, 28747.22473471, 30916.35943266, 23373.3650235 ,
       14794.78029901, 23319.88385735, 17016.39498987, 18255.90053156,
       27144.36164147])

In [65]:
#Calcua a acuarácia 
print(f'Esta é a % de previsão {second_modelo.score(x_two, y_two)}')

Esta é a % de previsão 0.8803425650559956

## Aplicando One-Hot-Encoding com Transformer

*Aplicando essa métrica com trasnformer do framework sickit-learn tendo resultado mais certeiros e precisos isto é incrivel.*

> Documentação Sobre o Transformer<br>
 https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html
 https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html

In [66]:
#Carregamento de dados 
tree_dados = pd.read_csv(db_request())
tree_dados

                      Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0            Jaguar F-Type R         69000        18000              6
1            Jaguar F-Type R         35000        34000              3
2            Jaguar F-Type R         57000        26100              5
3            Jaguar F-Type R         22500        40000              2
4            Jaguar F-Type R         46000        31500              4
5             Mustang Mach 1         59000        29400              5
6             Mustang Mach 1         52000        32000              5
7             Mustang Mach 1         72000        19300              6
8             Mustang Mach 1         91000        12000              8
9   Mercedez Benz AMG GLE 53         67000        22000              6
10  Mercedez Benz AMG GLE 53         83000        20000              7
11  Mercedez Benz AMG GLE 53         79000        21000              7
12  Mercedez Benz AMG GLE 53         59000        33000              5

In [68]:
#Imports
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [73]:
#Criando o encoder de transformação
Ohencoder = ColumnTransformer([['Modelo', OneHotEncoder(), [0]]], remainder="passthrough")

In [70]:
#Definindo o valor de x
x = tree_dados.drop("Preco_Venda", axis=1)
x

                      Modelo  Kilometragem  Idade_Veiculo
0            Jaguar F-Type R         69000              6
1            Jaguar F-Type R         35000              3
2            Jaguar F-Type R         57000              5
3            Jaguar F-Type R         22500              2
4            Jaguar F-Type R         46000              4
5             Mustang Mach 1         59000              5
6             Mustang Mach 1         52000              5
7             Mustang Mach 1         72000              6
8             Mustang Mach 1         91000              8
9   Mercedez Benz AMG GLE 53         67000              6
10  Mercedez Benz AMG GLE 53         83000              7
11  Mercedez Benz AMG GLE 53         79000              7
12  Mercedez Benz AMG GLE 53         59000              5

In [76]:
#Definindo o valor de y 
y_1 = tree_dados['Preco_Venda']
y_1

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Preco_Venda, dtype: int64

## Criando outra versão do modelo

In [74]:
#Aplicando o encoder ao dataset x 
X_1 = Ohencoder.fit_transform(x)
X_1

array([[1.00e+00, 0.00e+00, 0.00e+00, 6.90e+04, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 3.50e+04, 3.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 5.70e+04, 5.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 2.25e+04, 2.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 4.60e+04, 4.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 5.90e+04, 5.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 5.20e+04, 5.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 7.20e+04, 6.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 9.10e+04, 8.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 6.70e+04, 6.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 8.30e+04, 7.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 7.90e+04, 7.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 5.90e+04, 5.00e+00]])

In [75]:
#Aplicando a 3 verão do modelo
tree_model = linear_model.LinearRegression()

In [77]:
#Treinando o modelo
tree_model.fit(X_1, y_1)

LinearRegression()

In [79]:
#Uma previsão do modelo 
tree_model.predict([[0,0,1, 50000, 4]])

array([32687.16600141])

In [81]:
#Outra previsão do modelo 
tree_model.predict([[0,0,1, 87000, 7]])

array([14995.2876262])

In [82]:
#Score do 3 modelo 
print(f'Esta é a porcentagem do 3 modelo %{tree_model.score(X_1, y_1)}')

Esta é a porcentagem do 3 modelo %0.9417050937281082

## Salvando o modelo Treinado

In [83]:
import joblib

In [84]:
joblib.dump(tree_model, 'modules/modelo_treinado.pk1')

['modules/modelo_treinado.pk1']

# Conclusão

*Para este conjunto de dados a técnica de One-Hot-Enconding mostrou ser a mais efetiva a deveria ser usada no processamento dos dados e modelagem preditiva*