In [14]:
#importando os framewokrs 
import pandas as pd
import numpy 
import os
import dataframe_image as df1 
#path do database
from upload import db_request

In [49]:
pd.set_option("display.max_columns", None)
df = pd.read_csv(db_request(), usecols=['X1', 'X2', 'X3'])

df.head()

  X1  X2 X3
0  v  at  a
1  t  av  e
2  w   n  c
3  t   n  f
4  v   n  f

In [50]:
#shape
print(f'Quantidade de linhas e colunas -> {df.shape}')

Quantidade de linhas e colunas -> (4209, 3)

In [51]:
#Valores Ãºnicos de cada colunas
for f in df.columns:
    print(f, "-", len(df[f].unique()), 'Categorias' )

X1 - 27 Categorias
X2 - 44 Categorias
X3 - 7 Categorias

In [75]:
#Contagem de frequencia das colunas do dataset
frequencia_one = df['X1'].value_counts().to_dict()
frequencia_two = df['X2'].value_counts().to_dict()
frequencia_tree = df['X3'].value_counts().to_dict()

In [103]:
df['X1'] = df['X1'].map(frequencia_one)
df['X2'] = df['X2'].map(frequencia_two)
df['X3'] = df['X3'].map(frequencia_tree)

In [104]:
df.head()

   X1   X2    X3
0 NaN   12   440
1 NaN   12   163
2 NaN  137  1942
3 NaN  137  1076
4 NaN  137  1076