In [1]:
#import 
import pandas as pd 
import datetime

In [2]:
data_atual = datetime.datetime.now()
data_atual

datetime.datetime(2023, 1, 21, 16, 32, 18, 295452)

In [5]:
data_list = [ data_atual - datetime.timedelta(days= x) for x in range(0, 20) ]
data_list

[datetime.datetime(2023, 1, 21, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 20, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 19, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 18, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 17, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 16, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 15, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 14, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 13, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 12, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 11, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 10, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 9, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 8, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 7, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 6, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 5, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 4, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 3, 16, 32, 18, 295452),
 datetime.datetime(2023, 1, 2, 16, 32, 18, 295452)]

In [9]:
df = pd.DataFrame(data_list, columns=['data'])
df

                         data
0  2023-01-21 16:32:18.295452
1  2023-01-20 16:32:18.295452
2  2023-01-19 16:32:18.295452
3  2023-01-18 16:32:18.295452
4  2023-01-17 16:32:18.295452
5  2023-01-16 16:32:18.295452
6  2023-01-15 16:32:18.295452
7  2023-01-14 16:32:18.295452
8  2023-01-13 16:32:18.295452
9  2023-01-12 16:32:18.295452
10 2023-01-11 16:32:18.295452
11 2023-01-10 16:32:18.295452
12 2023-01-09 16:32:18.295452
13 2023-01-08 16:32:18.295452
14 2023-01-07 16:32:18.295452
15 2023-01-06 16:32:18.295452
16 2023-01-05 16:32:18.295452
17 2023-01-04 16:32:18.295452
18 2023-01-03 16:32:18.295452
19 2023-01-02 16:32:18.295452

In [10]:
df['dia_da_semana'] = df['data'].dt.day_name()

In [11]:
df.head()

                        data dia_da_semana
0 2023-01-21 16:32:18.295452      Saturday
1 2023-01-20 16:32:18.295452        Friday
2 2023-01-19 16:32:18.295452      Thursday
3 2023-01-18 16:32:18.295452     Wednesday
4 2023-01-17 16:32:18.295452       Tuesday

In [18]:
#Criando um dict para o mapeamento do dia da semana com o n√∫mero correspondente 
dic_dia_da_semana = {
    'Monday': 1,
    'Thursday': 2,
    'Wednesday': 3,
    'Tuesday': 4,
    'Friday': 5,
    'Saturday': 6,
    'Sunday': 7,
}

In [19]:
df['dia_da_semana_cod'] = df['dia_da_semana'].map(dic_dia_da_semana)

In [20]:
df.head()

                        data dia_da_semana  dia_da_semana_cod
0 2023-01-21 16:32:18.295452      Saturday                  6
1 2023-01-20 16:32:18.295452        Friday                  5
2 2023-01-19 16:32:18.295452      Thursday                  2
3 2023-01-18 16:32:18.295452     Wednesday                  3
4 2023-01-17 16:32:18.295452       Tuesday                  4